agent/flows/finalize-allocation.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "metadata": {
    "name": "SwagAgent - Finalize Allocation",
    "description": "Called when seller confirms. Re-checks budget + inventory, creates event + allocations, reserves inventory, updates budget. Each line item write attempts compensation on failure. Phantom reservations from double-failures are caught by the weekly orphan-detection scheduled flow (TODO #6).",
    "trigger": "Called from Copilot Studio at finalization"
  },
  "definition": {
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "PowerAppV2",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "eventDetails": {
                "type": "object",
                "properties": {
                  "eventDate": { "type": "string" },
                  "attendeeCount": { "type": "integer" },
                  "execCount": { "type": "integer" },
                  "champCount": { "type": "integer" },
                  "tier3Count": { "type": "integer" },
                  "tier4Count": { "type": "integer" },
                  "inPerson": { "type": "boolean" },
                  "sellerName": { "type": "string" },
                  "sellerUserId": { "type": "string" },
                  "tpid": { "type": "string" }
                }
              },
              "lineItems": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "itemId": { "type": "string" },
                    "itemName": { "type": "string" },
                    "quantity": { "type": "integer" },
                    "unitCost": { "type": "number" },
                    "lineTotal": { "type": "number" }
                  }
                }
              },
              "totalCost": { "type": "number" }
            },
            "required": ["eventDetails", "lineItems", "totalCost"]
          }
        }
      }
    },
    "actions": {
      "Initialize_CreatedAllocationIds": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            { "name": "CreatedAllocationIds", "type": "array", "value": [] }
          ]
        },
        "runAfter": {}
      },
      "Initialize_ReservedItemDeltas": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            { "name": "ReservedItemDeltas", "type": "array", "value": [] }
          ]
        },
        "runAfter": { "Initialize_CreatedAllocationIds": ["Succeeded"] }
      },
      "Initialize_CreatedEventId": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            { "name": "CreatedEventId", "type": "string", "value": "" }
          ]
        },
        "runAfter": { "Initialize_ReservedItemDeltas": ["Succeeded"] }
      },
      "Step1_Recheck_Budget": {
        "type": "OpenApiConnection",
        "inputs": {
          "host": { "connectionName": "shared_commondataserviceforapps" },
          "operationId": "ListRecords",
          "parameters": {
            "entityName": "swag_budgettrackers",
            "$filter": "swag_quarterstart le '@{utcNow()}' and swag_quarterend ge '@{utcNow()}'",
            "$top": 1,
            "$select": "swag_budgettrackerid,swag_remainingavailable,swag_totalreserved"
          }
        },
        "runAfter": { "Initialize_CreatedEventId": ["Succeeded"] }
      },
      "Check_Budget_Sufficient": {
        "type": "If",
        "expression": {
          "and": [
            {
              "greaterOrEquals": [
                "@first(body('Step1_Recheck_Budget')?['value'])?['swag_remainingavailable']",
                "@triggerBody()?['totalCost']"
              ]
            }
          ]
        },
        "actions": {
          "Step2_Recheck_Inventory_Apply_To_Each": {
            "type": "Foreach",
            "foreach": "@triggerBody()?['lineItems']",
            "actions": {
              "Get_Current_Item_Stock": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_commondataserviceforapps" },
                  "operationId": "GetItem",
                  "parameters": {
                    "entityName": "swag_swagitems",
                    "recordId": "@items('Step2_Recheck_Inventory_Apply_To_Each')?['itemId']",
                    "$select": "swag_swagitemid,swag_quantityavailable,swag_name"
                  }
                },
                "runAfter": {}
              },
              "If_Insufficient_Inventory": {
                "type": "If",
                "expression": {
                  "less": [
                    "@body('Get_Current_Item_Stock')?['swag_quantityavailable']",
                    "@items('Step2_Recheck_Inventory_Apply_To_Each')?['quantity']"
                  ]
                },
                "actions": {
                  "Terminate_With_Inventory_Conflict": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "code": "INVENTORY_CONFLICT",
                        "message": "@concat('Item ', body('Get_Current_Item_Stock')?['swag_name'], ' has only ', string(body('Get_Current_Item_Stock')?['swag_quantityavailable']), ' available, requested ', string(items('Step2_Recheck_Inventory_Apply_To_Each')?['quantity']))"
                      }
                    }
                  }
                },
                "else": { "actions": {} },
                "runAfter": { "Get_Current_Item_Stock": ["Succeeded"] }
              }
            },
            "runAfter": {}
          },
          "Step3_Create_Event": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": { "connectionName": "shared_commondataserviceforapps" },
              "operationId": "CreateRecord",
              "parameters": {
                "entityName": "swag_events",
                "item": {
                  "swag_eventdate": "@triggerBody()?['eventDetails']?['eventDate']",
                  "swag_attendeecount": "@triggerBody()?['eventDetails']?['attendeeCount']",
                  "swag_execcount": "@triggerBody()?['eventDetails']?['execCount']",
                  "swag_champcount": "@triggerBody()?['eventDetails']?['champCount']",
                  "swag_tier3count": "@triggerBody()?['eventDetails']?['tier3Count']",
                  "swag_tier4count": "@triggerBody()?['eventDetails']?['tier4Count']",
                  "swag_inperson": "@triggerBody()?['eventDetails']?['inPerson']",
                  "swag_sellername": "@triggerBody()?['eventDetails']?['sellerName']",
                  "swag_selleruserid": "@triggerBody()?['eventDetails']?['sellerUserId']",
                  "swag_tpid": "@triggerBody()?['eventDetails']?['tpid']",
                  "swag_status": "confirmed",
                  "swag_totalcost": "@triggerBody()?['totalCost']"
                }
              }
            },
            "runAfter": { "Step2_Recheck_Inventory_Apply_To_Each": ["Succeeded"] }
          },
          "Save_CreatedEventId": {
            "type": "SetVariable",
            "inputs": {
              "name": "CreatedEventId",
              "value": "@body('Step3_Create_Event')?['swag_eventsid']"
            },
            "runAfter": { "Step3_Create_Event": ["Succeeded"] }
          },
          "Step4_Create_Allocations_And_Reserve": {
            "type": "Foreach",
            "foreach": "@triggerBody()?['lineItems']",
            "actions": {
              "Create_Allocation_Record": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_commondataserviceforapps" },
                  "operationId": "CreateRecord",
                  "parameters": {
                    "entityName": "swag_allocations",
                    "item": {
                      "swag_eventid@odata.bind": "@concat('/swag_events(', variables('CreatedEventId'), ')')",
                      "swag_itemid@odata.bind": "@concat('/swag_swagitems(', items('Step4_Create_Allocations_And_Reserve')?['itemId'], ')')",
                      "swag_itemname": "@items('Step4_Create_Allocations_And_Reserve')?['itemName']",
                      "swag_quantity": "@items('Step4_Create_Allocations_And_Reserve')?['quantity']",
                      "swag_totalcost": "@items('Step4_Create_Allocations_And_Reserve')?['lineTotal']",
                      "swag_status": "confirmed"
                    }
                  }
                },
                "runAfter": {}
              },
              "Track_Created_Allocation": {
                "type": "AppendToArrayVariable",
                "inputs": {
                  "name": "CreatedAllocationIds",
                  "value": "@body('Create_Allocation_Record')?['swag_allocationsid']"
                },
                "runAfter": { "Create_Allocation_Record": ["Succeeded"] }
              },
              "Get_Item_For_Reserve": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_commondataserviceforapps" },
                  "operationId": "GetItem",
                  "parameters": {
                    "entityName": "swag_swagitems",
                    "recordId": "@items('Step4_Create_Allocations_And_Reserve')?['itemId']",
                    "$select": "swag_swagitemid,swag_quantityreserved"
                  }
                },
                "runAfter": { "Track_Created_Allocation": ["Succeeded"] }
              },
              "Increment_Item_Reserved": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_commondataserviceforapps" },
                  "operationId": "UpdateRecord",
                  "parameters": {
                    "entityName": "swag_swagitems",
                    "recordId": "@items('Step4_Create_Allocations_And_Reserve')?['itemId']",
                    "item": {
                      "swag_quantityreserved": "@add(body('Get_Item_For_Reserve')?['swag_quantityreserved'], items('Step4_Create_Allocations_And_Reserve')?['quantity'])"
                    }
                  }
                },
                "runAfter": { "Get_Item_For_Reserve": ["Succeeded"] }
              },
              "Track_Reserved_Delta": {
                "type": "AppendToArrayVariable",
                "inputs": {
                  "name": "ReservedItemDeltas",
                  "value": {
                    "itemId": "@items('Step4_Create_Allocations_And_Reserve')?['itemId']",
                    "delta": "@items('Step4_Create_Allocations_And_Reserve')?['quantity']"
                  }
                },
                "runAfter": { "Increment_Item_Reserved": ["Succeeded"] }
              }
            },
            "runAfter": { "Save_CreatedEventId": ["Succeeded"] }
          },
          "Step5_Update_Budget": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": { "connectionName": "shared_commondataserviceforapps" },
              "operationId": "UpdateRecord",
              "parameters": {
                "entityName": "swag_budgettrackers",
                "recordId": "@first(body('Step1_Recheck_Budget')?['value'])?['swag_budgettrackerid']",
                "item": {
                  "swag_totalreserved": "@add(first(body('Step1_Recheck_Budget')?['value'])?['swag_totalreserved'], triggerBody()?['totalCost'])"
                }
              }
            },
            "runAfter": { "Step4_Create_Allocations_And_Reserve": ["Succeeded"] }
          },
          "Return_Success": {
            "type": "Response",
            "inputs": {
              "statusCode": 200,
              "body": {
                "status": "confirmed",
                "eventId": "@variables('CreatedEventId')",
                "allocationIds": "@variables('CreatedAllocationIds')",
                "totalCost": "@triggerBody()?['totalCost']",
                "message": "Allocation confirmed successfully"
              }
            },
            "runAfter": { "Step5_Update_Budget": ["Succeeded"] }
          }
        },
        "else": {
          "actions": {
            "Return_Budget_Conflict": {
              "type": "Response",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "status": "budget_conflict",
                  "availableBudget": "@first(body('Step1_Recheck_Budget')?['value'])?['swag_remainingavailable']",
                  "requestedCost": "@triggerBody()?['totalCost']",
                  "message": "Budget has changed since your session started. Available budget is now lower than your allocation cost."
                }
              }
            }
          }
        },
        "runAfter": { "Step1_Recheck_Budget": ["Succeeded"] }
      },
      "Compensation_Scope": {
        "type": "Scope",
        "actions": {
          "Compensate_Reserved_Items": {
            "type": "Foreach",
            "foreach": "@variables('ReservedItemDeltas')",
            "actions": {
              "Get_Item_For_Compensation": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_commondataserviceforapps" },
                  "operationId": "GetItem",
                  "parameters": {
                    "entityName": "swag_swagitems",
                    "recordId": "@items('Compensate_Reserved_Items')?['itemId']",
                    "$select": "swag_quantityreserved"
                  }
                },
                "runAfter": {}
              },
              "Decrement_Item_Reserved": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_commondataserviceforapps" },
                  "operationId": "UpdateRecord",
                  "parameters": {
                    "entityName": "swag_swagitems",
                    "recordId": "@items('Compensate_Reserved_Items')?['itemId']",
                    "item": {
                      "swag_quantityreserved": "@max(0, sub(body('Get_Item_For_Compensation')?['swag_quantityreserved'], items('Compensate_Reserved_Items')?['delta']))"
                    }
                  }
                },
                "runAfter": { "Get_Item_For_Compensation": ["Succeeded"] }
              }
            },
            "runAfter": {}
          },
          "Compensate_Created_Allocations": {
            "type": "Foreach",
            "foreach": "@variables('CreatedAllocationIds')",
            "actions": {
              "Delete_Allocation": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_commondataserviceforapps" },
                  "operationId": "DeleteRecord",
                  "parameters": {
                    "entityName": "swag_allocations",
                    "recordId": "@items('Compensate_Created_Allocations')"
                  }
                },
                "runAfter": {}
              }
            },
            "runAfter": { "Compensate_Reserved_Items": ["Succeeded", "Failed"] }
          },
          "Compensate_Created_Event": {
            "type": "If",
            "expression": {
              "and": [
                { "not": { "equals": ["@variables('CreatedEventId')", ""] } }
              ]
            },
            "actions": {
              "Delete_Event": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_commondataserviceforapps" },
                  "operationId": "DeleteRecord",
                  "parameters": {
                    "entityName": "swag_events",
                    "recordId": "@variables('CreatedEventId')"
                  }
                }
              }
            },
            "else": { "actions": {} },
            "runAfter": { "Compensate_Created_Allocations": ["Succeeded", "Failed"] }
          },
          "Return_Failure": {
            "type": "Response",
            "inputs": {
              "statusCode": 200,
              "body": {
                "status": "finalization_failed",
                "message": "Finalization failed and was rolled back. Please retry. If the failure persists, contact Adrea's team.",
                "compensationCompleted": true
              }
            },
            "runAfter": { "Compensate_Created_Event": ["Succeeded", "Failed"] }
          }
        },
        "runAfter": { "Check_Budget_Sufficient": ["Failed"] }
      }
    }
  }
}
